<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css?fbclid=IwAR2TXqBPR1BwetsIfkcLDjYfw2kuhlxqmjkGdzKaCdAd6NkAkWniljGiVB8">
    <title>@ViewBag.Title Hotel Management</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/styles.css")
    @Styles.Render("~/Content/custom1.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="site-header js-site-header">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-3 col-lg-3 site-logo" data-aos="fade">
                    <a href="Index">Hotel Logo</a>
                </div>
                <div class="col-6 col-lg-6 menu-toggle">
                    <div class="col-3 col-lg-3 site-logo" data-aos="fade">
                        <a>
                            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "menu-link" })
                        </a>
                    </div>
                    <div class="col-3 col-lg-3 site-logo" data-aos="fade">
                        <a>
                            @Html.ActionLink("Rooms", "Rooms", "Home", new { area = "" }, new { @class = "menu-link" })
                        </a>
                    </div>
                    <div class="col-3 col-lg-3 site-logo" data-aos="fade">
                        <a>
                            @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "menu-link" })
                        </a>
                    </div>
                    <div class="col-3 col-lg-3 site-logo" data-aos="fade">
                        <a>
                            @Html.ActionLink("Services", "Services", "Home", new { area = "" }, new { @class = "menu-link" })
                        </a>
                    </div>
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </header>
    <!-- END head -->

    <div>
        @RenderBody()
        <div id="up-btn">
            <i class="fa-solid fa-angle-up"></i>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/main.js")"></script>
</body>
</html>
