@model HotelManagement.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{



    <main aria-labelledby="title">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @*@Html.AntiForgeryToken()
                <h4>Enter your email.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-2 col-md-10">
                        <input type="submit" class="btn btn-outline-dark" value="Email Link" />
                    </div>
                </div>*@

            <span class="login100-form-title p-b-49">
                @ViewBag.Title
            </span>
            @Html.AntiForgeryToken()

            <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                <span class="label-input100">Email</span>
                @Html.TextBoxFor(m => m.Email, new { @class = "input100", placeholder = "Type your email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <i class="fa-solid fa-user input-icon"></i>
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" type="submit">
                        Send Link
                    </button>
                </div>
            </div>
        }
    </main>
}

