@model HotelManagement.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="card-title title ml-32">Guest Detail</h2>

<div>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKhachHang)
            </th>
            <td>
                @Html.DisplayFor(model => model.TenKhachHang)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <td>
                @Html.DisplayFor(model => model.NgaySinh)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <td>
                @Html.DisplayFor(model => model.SoDienThoai)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CCCD)
            </th>
            <td>
                @Html.DisplayFor(model => model.CCCD)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoaiKhachHang)
            </th>
            <td>
                @Html.DisplayFor(model => model.LoaiKhachHang)
            </td>
        </tr>
    </table>
</div>
<p class="pl-12 ml-16 mt-32 mb-24">
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaKhachHang }, new { @class = "create-btn" })
</p>
<p class="pl-12 ml-16 mt-32 mb-24 back-btn">
    @Html.ActionLink("Back to List", "Index")
</p>
