@model PagedList.IPagedList<HotelManagement.KhachHang>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="card-title title ml-32">Guest List</h2>

@using (Html.BeginForm("Search", "Guest", FormMethod.Get, new { @class = "search-form" }))
{
    <div class="input-group">
        <div class="form-outline">

            @Html.TextBox("name", null, new { @class = "form-control bg-light border-0 small", @placeholder = "Search Guest Name" })
        </div>

        <input type="submit" value=" Tìm " name="name" class="btn btn-primary" />
    </div>
}

<!-- @using (Html.BeginForm("Search", "Guest", FormMethod.Get))
{
    <b>Nhập tên cần tìm </b> @Html.TextBox("name")
    <input type="submit" value=" Tìm " name="name" />
} -->

<p class="ml-32 mt-32 mb-24">
    @Html.ActionLink("Add New", "Create", "Guest", null, new { @class = "create-btn" })
</p>
<div class="table-section">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TenKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CCCD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LoaiKhachHang)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.TaiKhoanKHs.First().TenTaiKhoan)
                </th>*@
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKhachHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CCCD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiKhachHang)
                </td>
                @*<td>
                        @if (item.TaiKhoanKHs.Any())
                        {
                            @Html.DisplayFor(modelItem => item.TaiKhoanKHs.First().TenTaiKhoan)
                        }
                        else
                        {
                            @:N/A
                        }
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaKhachHang })
                    @Html.ActionLink("Details", "Details", new { id = item.MaKhachHang })
                </td>
            </tr>
        }

    </table>
</div>
<!-- Hiển thị phân trang -->
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
