@model HotelManagement.NhanVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Staff</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CCCD)
            </th>
            <td>
                @Html.DisplayFor(model => model.CCCD)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <td>
                @Html.DisplayFor(model => model.SoDienThoai)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNhanVien)
            </th>
            <td>
                @Html.DisplayFor(model => model.TenNhanVien)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <td>
                @Html.DisplayFor(model => model.NgaySinh)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChucDanh)
            </th>
            <td>
                @Html.DisplayFor(model => model.ChucDanh)
            </td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>