@model PagedList.IPagedList<HotelManagement.NhanVien>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="card-title title ml-32">Staff List</h2>

@using (Html.BeginForm("Search", "Staff", FormMethod.Get, new { @class = "search-form" }))
{
    <div class="input-group">
        <div class="form-outline">

            @Html.TextBox("name", null, new { @class = "form-control bg-light border-0 small", @placeholder = "Search Staff Name" })
        </div>

        <input type="submit" value=" Tìm " name="name" class="btn btn-primary" />
    </div>
}


<p class="ml-32 mt-32 mb-24">
    @Html.ActionLink("Add New", "Create", "Staff", null, new { @class = "create-btn" })
</p>
<div class="table-section">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TenNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CCCD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ChucDanh)
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNhanVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CCCD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChucDanh)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaNhanVien })
                    @Html.ActionLink("Details", "Details", new { id = item.MaNhanVien })
                </td>
            </tr>
        }

    </table>
</div>
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>