@model HotelManagement.LoaiPhong

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Room Type</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoaiPhong)
            </th>
            <td>
                @Html.DisplayFor(model => model.TenLoaiPhong)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GiaLoaiPhong)
            </th>
            <td>
                @Html.DisplayFor(model => model.GiaLoaiPhong)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoNguoiToiDa)
            </th>
            <td>
                @Html.DisplayFor(model => model.SoNguoiToiDa)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <td>
                <img src="@Url.Content("~/Assets/admin/img/" + Model.HinhAnh)" style="width: 100px;" />
            </td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>