@model WebApplication5.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayLapHoaDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLapHoaDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TienPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TienDichVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.CCCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.CCCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.CCCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.CCCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhieuThue.HienTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhieuThue.HienTrang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHoaDon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
